/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;font-weight: 500;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;color: #333;}
strong,b{font-weight:bold;}
del,ins,u,a,a:hover{text-decoration:none;}
input{outline: none;}
a:active {outline: none;star:expression(this.onFocus=this.blur());}
body{color:#333333;font: 14px/1.5 "Helvetica Neue","Microsoft Yahei",Helvetica,Arial,"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;display: block;-webkit-font-smoothing: antialiased;outline:0;}
body:before,div:before {content: "";display: block;height: 0;line-height: 0;border:0;margin: 0;}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
/**功能样式*/
.clearfix {clear: both;line-height: 0;border: 0;margin: 0;padding: 0;zoom: 1;}
.clearbox {}
.clearbox:after {display: block;content: "";height: 0;line-height: 0;padding: 0;margin: 0;clear: both;}
.transition {-webkit-transition: all 0.5s;-moz-transition: all 0.5s;-ms-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
.fL {float: left;display: inline-block;}
.fR {float: right;display: inline-block;}
.tL {text-align: left;}
.tR {text-align: right;}
.tC {text-align:center;}
.mc {margin: 0 auto;}
.elementHide{display:none;}
.iB{display: inline-block}















